<ul class="nav nav-tabs">
  <li role="presentation">
    <a href="#" onClick="window.location.assign(window.location.href.split('cucumber-reports-with-handlebars')[0]);"
      >Go back!</a>
  </li>
  <li role="presentation" class="{{overviewPageStatus}}">
    <a  href="{{overviewLink}}">View all feature reports</a>
  </li>
  <li role="presentation" class="{{summaryPageStatus}}">
    <a href="#">Feature report: {{featureName}}</a>
  </li>
</ul>
